<div class="manycointrydiv">
    <div><img src="{{flags.svg}}" alt="{{name.official}}" class="flag_manycountry" width="30" height="30" /></div>
    <p class="listCountry">{{name.official}}</p>

</div>
</div>